VITE_PATH=your_api_path
VITE_URL=https://your-api-host.example.com/v2
VITE_BASE=/your-project-base-path

DEPLOY_PROJECT_NAME=your-project-name
DEPLOY_GITHUB_USER=your-github-username
DEPLOY_REPO_NAME=your-repo-name
DEPLOY_BRANCH=gh-pages
